.listing-photo {
    height: 900px;
    width: 50%;
    object-fit: contain;
    border-radius: 30px;
    float: right;
}
.listing-heading {
    font-size: 48pt;
    font-weight: bold;
    margin-bottom: 15px;
}
.listing-location::before {
    content: url('/public/location-pin.svg') / '';
}
.listing-location {
    font-size: 24pt;
    margin-bottom: 15px;
}
.listing-features > .section-heading {
    color: var(--secondary-color);
    font-size: 24pt;
    margin-bottom: 15px;
}
.listing-features {
    margin-bottom: 20px;
}
.listing-features li {
    font-size: 14pt;
}
li {
    list-style-type: none;
}
.listing-apply .section-heading {
    font-size: 18pt;
    margin-bottom: 15px;
}
label,
input {
    display: block;
}
label {
    color: var(--secondary-color);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12pt;
}
input {
    font-size: 16pt;
    margin-bottom: 15px;
    padding: 10px;
    width: 400px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: solid 0.3px;
}
.weather-info {
    background: #e3f2fd;
    padding: 1rem;
    border-radius: 8px;
    margin: 1rem 0;
}

.weather-info h3 {
    margin-top: 0;
    color: #1976d2;
}

.weather-info img {
    width: 64px;
    height: 64px;
}
.map-section {
    background: #f9f9f9;
    border-radius: 12px;
    width: 20%;
    height: 400px;
    margin-block: 2rem;
}

#map {
    height: 100% ;
    width: 100% ;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}
.btn {
    padding: 10px;
    border: solid 1px var(--primary-color);
    background: var(--primary-color);
    color: white;
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer;
}

h3 {
    margin-top: 20px;
}


@media (max-width: 1024px) {
    .listing-photo {
        width: 100%;
        height: 400px;
    }
}